* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 1px solid red; */
}
html {
   scroll-behavior: smooth;
}
a {
   text-decoration: none;
}

ul, ol {
   list-style-type: none;
}

body.active {
   padding-right: 17px;
   overflow: hidden;
}
:root {
   --main-font1: 'Open Sans';
   --main-font2: 'Circe Rounded';
   --main-font3: 'Cormorant';
   --main-font4: 'Sofia Pro';
   --main--text--color1: #333232;
   --main--text--color2: #B590BA;
   --main--text--color3: #FFFFFF;
   --main--text--color4: #6A6A6A;
   --main--text--color5: #F5F5F5;
   --main--text--color6: #424242;
   --main--text--color7: #F3F4FA;
   --main--text--color8: #9A9898;
   --main--text--color9:  #1B1B1B;
   --main--text--color10: #9E9E9E;
   --main--text--color11: #3C3B3B;
   --main--text--color12: #292929;
   --main--text--color13: #0B1323;
}
.container {
   max-width: 1300px;
   margin: 0 auto;
   /* border: 1px solid red; */
}

@media(max-width: 1300px) {
   .container {
      padding: 0 20px;
   }
}


